<h1>ChannelIcon Editor</h1>
<p>
We have recently switched to a new backend service on a new host.
At this time the editing functionality has not yet been implemented.
</p>
<p>Talk to stuarta on IRC if you are interested in helping out with this</p>
